{% extends 'base.html' %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% load render_table from django_tables2 %}

{% block titulo %}Contrapartida Equipamento{% endblock %}
{% block corpo %}
<div class="container-fluid mt-4">
    <h2>Contrapartida Equipamento</h2>
    <hr>
    <div class="mb-4">
        {% include "blocos/filtro_padrao.html" with mostrar_peia=True mostrar_projeto=True mostrar_equipamento=True mostrar_ano=True mostrar_mes=True %}
    </div>

    <div class="container">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <center>
            {% render_table table %}
            <br>
            <a href="{% url 'contrapartida_equipamento_create' %}">
                <input type="button" class="btn btn-primary" value="Incluir nova contrapartida">
            </a>
            <a href="{% url 'contrapartida_equipamento_criar_multiplos' %}">
                <input type="button" class="btn btn-primary" value="Incluir multiplos">
            </a>
            </center>
        </div>
    </div>
</div>
{% endblock %}
